/* On small screens, set height to 'auto' for sidenav and grid */
  
@media screen and (max-width: 767px)
{
    .sidenav 
    {
        height: auto;
        padding: 15px;
    }
    .row.content {height:auto;}
}

/* Set gray background color and 100% height */

.sidenav 
{
    padding-top: 20px;
    background-color: #000000;
    height: 100%;
}

body
{
    background:url(../Images/background.JPG);
    background-size:cover ;
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: 100%;
}

/* Remove the navbar's default margin-bottom and rounded borders */

.navbar 
{
    top: 0%;
    height: 38%;
} 

.row.content
{
    position: absolute;
    top: 50%;
    left: 50%;
}    

.header 
{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header img
{
    width: 160px;
    height: 90px;
}

.top
{
    width: 76%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.display 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.display img 
{
    width: 262px;
    height: 180px;
    
}

.play-button 
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}    

.play img
{
    height: 100px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;   
}

.pause img
{
    height: 100px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
    width: 100px;   
}

.play-button.pause .pause    
{
    display: block;
}

.play-button.pause .play 
{
    display: none;
}

.play-button .pause 
{
    position: relative;
    display: none;
    left: 0;
}

.play-button .play 
{
    position: relative;
    display: block;
}

/* Set black background color, white text and some padding */

.bottom
{
    width: 76%; 
    height: 100%; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container-fluid-2
{
    text-align: center;
    position: absolute; 
    bottom: 0%; 
    width: 98%;
    height: 90px;
}

footer
{
    position: absolute;
    bottom: 0;
    height: 41%;
}  

.facebook
{
    width:65px; 
    height:65px;  
}

.instagram
{
    width:65px; 
    height:65px;
}

.twitter
{
    width:65px; 
    height:65px;
}

.telegram
{
    width:65px; 
    height:65px;
}

.radioco_next 
{
    display: block;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 11px;
    font-weight: bold;
}

.radioco_song 
{
  display: block;
  color: #000000;
  position: absolute;
  top: 50%;
    left: 50%;
  font-size: 15px;
  font-weight: bold;
}

/* Contact */

.modal-content
{
	background: rgba(255, 255, 255, .9);
	top: -66px;
}
